body {
    background: lightgrey ;
    font-family:Arial, Helvetica, sans-serif;
}
.assignments {
    display:flex;
    flex-wrap:wrap;
}
.assignment {
    width:29%;
    padding:15px;
    margin:15px;
    background:lightblue;
    border-radius: 5px;
    box-shadow: 5px 10px rgb(42, 43, 43);
}
.assignment img {
    width:220px;
    border: 3px solid white;
    margin-right: 15px;
    padding: 15px;
    border-radius: 5px;
    display:block;
    margin:auto;
}
h1 {
    color: darkblue;
    text-align:center;
}
a {
    text-decoration:none;
    color: darkblue;
}

.assignment a :hover {
    color: white;
}